@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(59, 93, 122);

}

nav ul{
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    width: 530px;
    height: 50px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

nav ul li::after{
    content: '';
    width: 80px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: 0.3s;
    border-radius: 5px;
}

nav ul li:hover::after{
    opacity: 1;
    top: 50%;
}

nav ul li:hover{
    color: white;
}