*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(76, 157, 233);
}

.wave-container{
    width: 70px;
    height: 70px;
    position: relative;
}
.wave{
    position: absolute;
    width: 20px;
    height: 20px;
    border: 4px dotted aliceblue;
    border-radius: 50%;
    animation: waves 1s ease-in infinite;
}

@keyframes waves {
    0%{
        top: 35px;
        left: 35px;
        opacity: 1;
        width: 0;
        height: 0;
    }
    100%{
        top: 0;
        left: 0;
        opacity: 0;
        width: 70px;
        height: 70px;
    }
}

.wave-container .wave:nth-child(2){
    animation-duration: 1.5s;
}